          <h2>Closed office hours</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Hours</th>
                  <th>Paid?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><a>July 4th 2017</a></td>
                    <td>8-4</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><a>Thanksgiving</a></td>
                    <td>8-4</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><a>Blakes Birthday?</a></td>
                    <td>8-4</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><a>Black Friday</a></td>
                    <td>8-4</td>
                    <td>Yes</td>
                </tr>
                
              </tbody>
            </table>
          </div>