<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Current Time Sheet <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/past">Past Time Sheets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/past">Settings</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <h4>Manager</h4>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/approve">Approve Time Sheets</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <h4>Manage</h4>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/manage-office-hours">Working Hours</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/manage-employee-hours">Employees</a>
            </li>
          </ul>
        </nav>