          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <h4>{{this.timeSheetService.benefitHours.sick}}</h4>
              <div class="text-muted">Sick Hours</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <h4>{{this.timeSheetService.benefitHours.vacation}}</h4>
              <span class="text-muted">Vacation Hours</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <h4>{{this.timeSheetService.benefitHours.personal}}</h4>
              <span class="text-muted">Personal Hours</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <h4>{{this.timeSheetService.benefitHours.floating}}</h4>
              <span class="text-muted">Floating Holiday Hours</span>
            </div>
          </section>
