          <h2>Closed office hours</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Employee</th>
                  <th>Manager</th>
                  <th>Sick</th>
                  <th>Vacation</th>
                  <th>Personal</th>
                  <th>Floating</th>
                  <th>Manage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><a>Blake</a></td>
                    <td>Greg</td>
                    <td>40</td>
                    <td>80</td>
                    <td>16</td>
                    <td>16</td>
                    <td><a href='#'>Terminate</a></td>
                </tr>
                <tr>
                    <td><a>Blake</a></td>
                    <td>Greg</td>
                    <td>40</td>
                    <td>80</td>
                    <td>16</td>
                    <td>16</td>
                    <td><a href='#'>Terminate</a></td>
                </tr>
                <tr>
                    <td><a>Blake</a></td>
                    <td>Greg</td>
                    <td>40</td>
                    <td>80</td>
                    <td>16</td>
                    <td>16</td>
                    <td><a href='#'>Terminate</a></td>
                </tr>
                <tr>
                    <td><a>Blake</a></td>
                    <td>Greg</td>
                    <td>40</td>
                    <td>80</td>
                    <td>16</td>
                    <td>16</td>
                    <td><a href='#'>Terminate</a></td>
                </tr>
                
              </tbody>
            </table>
          </div>